################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Axosnet.WebAPI/bin/Debug/net5.0
